NEXT_PUBLIC_ARCIUM_OBSCURA_PROGRAM_ID=4Bong499epakUpBjRxnfjouWnmXg718yu2KpJeRQv9yZ

ANCHOR_PROVIDER_URL=https://api.devnet.solana.com
ANCHOR_WALLET=~/.config/solana/id.json
ARCIUM_CLUSTER_OFFSET=456
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_ARCIUM_CLUSTER_OFFSET=456
